[submodule "shared"]
	path = shared
	url = https://github.com/crossagent/smart-task-common.git
[submodule "experts/task_planner"]
	path = experts/task_planner
	url = https://github.com/crossagent/smart-agent-activity-manager.git
[submodule "experts/data_expert"]
	path = experts/data_expert
	url = https://github.com/crossagent/smart-agent-data-engineer.git
[submodule "experts/trader_expert"]
	path = experts/trader_expert
	url = https://github.com/crossagent/smart-agent-execution-trader.git
[submodule "experts/coder_expert"]
	path = experts/coder_expert
	url = https://github.com/crossagent/smart-agent-quant-developer.git
[submodule "experts/research_expert"]
	path = experts/research_expert
	url = https://github.com/crossagent/smart-agent-quant-researcher.git
[submodule "experts/risk_expert"]
	path = experts/risk_expert
	url = https://github.com/crossagent/smart-agent-risk-manager.git
